.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: start;
    justify-content: start;
}

.headerText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 3vw;
    line-height: 4vw;
    text-align: center;
    color: #343434;
}

.taskContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vw;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}