.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: start;
    justify-content: start;
    position: relative;
}

.headerText {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2vw;
    text-align: left;
    color: #343434;
    width: 5vw;
    margin-right: 10px;
}

.welcomeText {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5vw;
    text-align: left;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis ;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: auto;
}

.welcomeText:hover {
    overflow: visible;
    display: flex;
}

.dateText {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #707070;
    margin-top: 30px;
}

.addPeopleText {
    font-family: 'Poppins';
    font-weight: 540;
    font-size: 1vw;
    text-align: left;
    color: #707070;
    cursor: pointer;
    margin-left: -0.5vw;
    margin-top: 0.5vh;
}

.taskCategoryHeader {
    display: flex;
    flex-direction: row;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.addIcon {
    cursor: pointer;
    margin-right: 0.5vw;
}

.filterContainer {
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

.collapseIcon {
    cursor: pointer;
}


.boardHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 85vw;
    height: 25vh;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
}

.boardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    overflow: hidden;
    margin-right: 0;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding-left: 2vw;
}


.tasksContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    margin-top: 25vh;
}

.taskCategory {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100vh;
    background-color: #EEF2F5;
    margin: 1rem;
    overflow-y: scroll;
    border-radius: 5px;
    scrollbar-width: thin;
    -ms-overflow-style: auto;
    scrollbar-color: #9CB7C5 transparent;
}