.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.popupContent {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 30vw;
}

.popupText {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    margin-bottom: 1rem;
    font-weight: 600;
    text-align: center;
    color: black;
}

.closeButton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
}

.confirmButton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--light-blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popupButtons {
    display: flex;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 1px solid #D0D0D0;
    align-items: center;
    justify-self: center;
    padding-left: 10px;
}

.error {  
    font-family: "Inter";
    font-size: 10px;
    font-weight: 500;
    color: red;
}