.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.dashboardContainer {
    display: flex;
    width: calc(100vw - 22vw); /* Subtract the width of the fixed navbar */
    height: 100vh;
    margin-left: 22vw; /* Shift the content to the right to avoid overlap */
    align-self: flex-end;
    overflow-x: scroll;
}
