.taskContainer {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    margin: 0.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;;
}

.header1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.priority {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.5vw;
    font-weight: 600;
    text-align: left;
    color: black;
    margin-top: -10px;
}

.dropDown {
    z-index: 1000;
}

.dropDownDots {
    cursor: pointer;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    color: black;
    margin-top: -5px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis ;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.title:hover {
    overflow: visible;
  }

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25px;
    margin-top: 1rem;
}

.dueDate {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.5rem;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    height: 100%;
}

.taskStatusDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
}

.taskStatusItem {
    font-family: 'Poppins', sans-serif;
    font-size: 0.5rem;
    font-weight: 600;
    color: #767575;
    border-radius: 5px;
    cursor: pointer;
    background-color: #EEECEC;
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.checklistName {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: black;
}


.checklistDropContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.checklistItemContainer {
    display: flex;
    flex-direction: row;
    color: #767575;
    width: auto;
    border-radius: 10px;
    border: 1px solid #E2E2E2;
    height: 30px;
    align-items: center;
}


.checklistItemContainer p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: black;
    margin-left: 0.2rem;
}

.checklistHeaderRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}

.arrowIcon {
    cursor: pointer;
    background-color: #EEECEC;
    color: #767575;
    border-radius: 0.1rem;
    font-weight: 100;
}